header{
	width: 100%;
	height: 80px;
	background-color: cyan;
}
h1{
	text-align: center;
	font-size: 50px;
}
.logo{
	width: 100px;
	height: 80px;
	background-color: green;
	position: absolute;
}
.text{
	color:white;
	height: 40px;
	width: 40px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 30px;
}
nav{
	width: 100%;
	height: 60px;
	background-color: blue;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
}
ul,li{
	display: flex;
	margin: 0;
	padding-left: 50px;
	color: white;
	font-size: 1.5em;
}
section{
	width: 100%;
	height: 1000px;
	background-color: gray;
	display: flex;
}
.article{
	width: 70%;
	height: 1000px;
	background-color: cyan;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.box{
	height: 300px;
	width: 250px;
	background-color: white;
	box-shadow: 3px 3px 5px;
	margin: 5px;
}
.aside{
	width: 30%;
	height: 1000px;
	background-color: magenta;
	display: flex;
	justify-content: center;

}
.myimg{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: white;
}
img{
	border-radius: 50%;
	box-shadow: 3px 5px 20px;
}
h2{
	text-align: center;
	font-size: 2em;
	color: white;
}
.button{
	width: 50px;
	height: 50px;
	background-color: pink;
	position: fixed;
	right: 30px;
	bottom: 20px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-size: 50px;
}
a{
	text-decoration: none;
	color: white;
}
footer{
	width: 100%;
	height: 200px;
	background-color: black;
}